Repository mada-web/graphiql-app: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files -p tsconfig.build.json --noEmit, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx}": ["tsc-files -p tsconfig.build.json --noEmit", "eslint --fix", "prettier --write"],
  "*.{ts,json,css}": ["prettier --write"]
}

feat: add tsx files to husky
  .lintstagedrc
  src/pages/Register.tsx
Due: none

feat: check
  src/components/Header.tsx
Due: none

Revert "feat: check"
  src/components/Header.tsx
Due: none

feat: check
  .lintstagedrc
  src/components/Header.tsx
Due: none

feat: add new command to package
  .husky/pre-commit
  .lintstagedrc
  package.json
  src/components/Header.tsx
Due: prettier --write

fix: login
  src/App.tsx
  src/components/Form/ButtonForm.tsx
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
  src/components/Header.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: none

fix: merge
  public/output.css
Due: prettier --write

fix: lint
  src/components/Footer.tsx
  src/components/Form/ButtonForm.tsx
  src/components/Form/FormEmail.tsx
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: none

fix: deploy
  .eslintrc.cjs
Due: none

fix: deploy
  public/output.css
Due: prettier --write

fix: fix
  package-lock.json
Due: prettier --write

fix: hook
  package-lock.json
  package.json
Due: prettier --write

fix: heght error field form-password
  src/components/Form/FormPassword.tsx
Due: none

fix: output
  public/output.css
Due: prettier --write

feat: eye
  public/bg_decor2.png
  public/output.css
  src/assets/svg/burger.svg
  src/assets/svg/close.svg
  src/assets/svg/eye-close.svg
  src/assets/svg/eye.svg
  src/components/Footer.tsx
  src/components/Form/ButtonForm.tsx
  src/components/Form/FormPassword.tsx
  src/components/Header.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: prettier --write

fix: @
  src/components/Form/FormEmail.tsx
Due: none

fix: fix @
  src/components/Form/FormEmail.tsx
Due: none

feat: home init
  public/output.css
Due: prettier --write

fix: correct img
  public/Bazz.png
Due: none

fix: add z-index and correct styles order
  src/components/Header.tsx
Due: none

fix: change monaco editor's version
  package-lock.json
  package.json
Due: prettier --write

refactor: change styles order
  src/pages/Main.tsx
Due: none

feat: add styles for monaco editor
  public/output.css
  src/components/main/EditorBlock.tsx
  src/components/main/QueryBlock.tsx
Due: prettier --write

feat: merge with dev and convert ends in files to LF
  README.md
  public/output.css
  src/assets/svg/eye-close.svg
  src/assets/svg/eye.svg
  src/index.css
Due: prettier --write

refactor: change style order
  public/output.css
  src/components/main/ControlBtns.tsx
  src/pages/Main.tsx
Due: prettier --write

fix: correct config monaco editor
  src/components/main/EditorBlock.tsx
  src/components/main/QueryBlock.tsx
Due: none

fix: remove not working editor
  src/components/main/QueryBlock.tsx
Due: none

fix: change text color in editor
  src/components/main/EditorBlock.tsx
Due: none

feat: update home-page add burger adaptive
  public/element_1.png
  public/element_2.png
  public/output.css
  src/components/Burger.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: prettier --write

fix: styles
  package-lock.json
  package.json
  public/output.css
  src/components/Background.tsx
  src/components/Burger.tsx
  src/components/Footer.tsx
  src/components/Form/ButtonForm.tsx
  src/components/Header.tsx
  src/index.css
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: prettier --write

feat: get value from editor
  public/output.css
  src/components/main/ControlBtns.tsx
  src/components/main/EditorBlock.tsx
  src/components/main/QueryBlock.tsx
  src/pages/Main.tsx
Due: prettier --write

fix: deploy
  .prettierrc.cjs
  package-lock.json
  src/components/Header.tsx
Due: prettier --write

fix: deploy
  public/output.css
  src/components/Header.tsx
Due: prettier --write

fix: fix
  public/output.css
  src/components/Form/ButtonForm.tsx
  src/components/Header.tsx
  src/index.css
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
  tailwind.config.js
Due: prettier --write

fix: correct types
  public/output.css
  src/components/Header.tsx
  src/components/main/ControlBtns.tsx
  src/components/main/EditorBlock.tsx
  src/components/main/QueryBlock.tsx
  src/pages/Main.tsx
  src/types/images.d.ts
  tsconfig.json
Due: tsc-files -p tsconfig.build.json --noEmit, eslint --fix, prettier --write

fix: h
  public/output.css
  src/pages/Home.tsx
Due: prettier --write

fix: hover
  public/output.css
  src/components/Footer.tsx
  src/components/Header.tsx
  src/index.css
Due: prettier --write

fix: style
  public/output.css
  src/components/Burger.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/index.css
Due: prettier --write

fix: h-13
  src/pages/Home.tsx
Due: none
