Repository mada-web/graphiql-app: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx}": ["tsc-files -p tsconfig.build.json --noEmit", "npm run eslint ./src --ext .ts,.tsx", "prettier --write"],
  "*.{ts,json,css}": ["prettier --write"]
}

refactor: change x - svg-close
  public/output.css
  src/assets/svg/close.svg
  src/components/main/QueryBlock.tsx
  src/components/main/SchemaBlock.tsx
Due: prettier --write

fix: lint errors
  src/components/main/QueryBlock.tsx
  src/components/main/SchemaBlock.tsx
Due: none

feat: translate hello
  public/output.css
  src/lang/messages.ts
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: back Ira setting main
  public/output.css
  src/components/main/EditorBlock.tsx
  src/components/main/QueryBlock.tsx
  src/components/main/ResponseBlock.tsx
  src/components/main/SchemaBlock.tsx
  src/pages/Main.tsx
Due: prettier --write

fix: add contaner for outlet
  src/components/Layout.tsx
Due: none

fix: bg-color main
  src/components/Layout.tsx
Due: none

fix: suspense only main
  src/App.tsx
  src/components/Layout.tsx
  src/pages/Main.tsx
Due: none

fix: route main to /
  package-lock.json
  src/App.tsx
  src/pages/Login.tsx
  src/pages/Main.tsx
Due: prettier --write

feat: get the schema from api
  public/output.css
  src/components/Api/ApiQuery.ts
  src/components/main/ControlButtons.tsx
  src/components/main/EditorBlock.tsx
  src/components/main/SchemaBlock.tsx
  src/providers/AppProviders.tsx
  src/utils/api.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: add simple types
  src/components/main/ControlButtons.tsx
  src/providers/AppProviders.tsx
Due: none

fix: fix types in context
  src/components/main/ControlButtons.tsx
  src/providers/AppProviders.tsx
Due: none

fix: change to correct http method
  src/utils/api.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: check auth status after login
  src/firebase.ts
  src/pages/Main.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: suspense? schema position spinner?
  src/components/Spinner.tsx
  src/pages/Login.tsx
  src/pages/Main.tsx
Due: none

fix: redirect home-page
  src/pages/Main.tsx
Due: none

feat: add photo and text
  public/Iryna.jpg
  src/lang/messages.ts
  src/pages/Home.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: loading schema
  package-lock.json
  public/output.css
  src/components/ApiPokemon/ApiQuery.ts
  src/components/ApiPokemon/GetSchema.ts
  src/components/ApiPokemon/ShowSchema.tsx
  src/components/main/ControlButtons.tsx
  src/components/main/SchemaBlock.tsx
  src/index.css
  src/providers/AppProviders.tsx
  src/types/types.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: resolve conflict
  src/components/main/ControlButtons.tsx
Due: none

fix: wait until user will be loaded
  src/components/Burger.tsx
  src/components/Header.tsx
  src/firebase.ts
  src/pages/Main.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: correct photo
  public/Iryna.jpg
Due: none

refactor: change folder
  src/components/ApiPokemon/GetSchema.ts
  src/components/ApiPokemon/ShowSchema.tsx
  src/components/main/SchemaBlock.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: display schema params
  public/output.css
  src/components/main/ControlButtons.tsx
  src/components/main/Schema/DescriptionBlock.tsx
  src/components/main/Schema/SchemaBlock.tsx
  src/components/main/Schema/SchemaParams.tsx
  src/components/main/Schema/ShowSchema.tsx
  src/pages/Main.tsx
  src/providers/AppProviders.tsx
  src/types/types.tsx
  src/utils/api.ts
  src/utils/getSchema.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: correct style
  src/components/main/Schema/SchemaBlock.tsx
Due: none

fix: correct types
  src/types/types.tsx
Due: none

refactor: change import order to match lint requirements
  src/pages/Main.tsx
Due: none

fix: correct style for schema
  public/output.css
  src/components/main/ResponseBlock.tsx
  src/components/main/Schema/DescriptionBlock.tsx
  src/components/main/Schema/SchemaBlock.tsx
  src/components/main/Schema/ShowSchema.tsx
Due: prettier --write

fix: delete variable
  src/components/main/Schema/ShowSchema.tsx
Due: none

fix: push buttons and loading
  src/components/main/ControlButtons.tsx
  src/pages/Main.tsx
Due: none

fix: useContext
  src/components/main/ControlButtons.tsx
  src/pages/Main.tsx
  src/providers/AppProviders.tsx
Due: none

fix: correct styles
  public/output.css
  src/components/main/ControlButtons.tsx
  src/components/main/ResponseBlock.tsx
  src/components/main/Schema/DescriptionBlock.tsx
  src/components/main/Schema/SchemaBlock.tsx
  src/components/main/Schema/ShowSchema.tsx
  src/index.css
  src/pages/Main.tsx
Due: prettier --write

fix: error header active
  public/output.css
  src/index.css
  src/pages/Main.tsx
Due: prettier --write

fix: error response?
  src/pages/Main.tsx
Due: none

feat: add suspense documentation
  src/components/main/ControlButtons.tsx
  src/pages/Main.tsx
Due: none

fix: isLoadingSchema
  src/components/main/ControlButtons.tsx
  src/pages/Main.tsx
  src/providers/AppProviders.tsx
Due: none

fix: burger link
  src/components/Burger.tsx
Due: none

feat: add suspense and lazy
  src/components/Spinner.tsx
  src/components/main/ControlButtons.tsx
  src/components/main/ResponseBlock.tsx
  src/components/main/SchemaBlock.tsx
  src/pages/Main.tsx
  src/providers/AppProviders.tsx
Due: none

fix: fix type for refObj
  src/components/main/SchemaBlock.tsx
Due: none

fix: fix type
  src/components/main/SchemaBlock.tsx
Due: none

fix: set current ref
  src/components/main/SchemaBlock.tsx
Due: none

fix: delete suspense
  src/components/Spinner.tsx
  src/components/main/ControlButtons.tsx
  src/pages/Main.tsx
  src/providers/AppProviders.tsx
Due: none
