Repository mada-web/graphiql-app: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx}": ["tsc-files -p tsconfig.build.json --noEmit", "npm run eslint ./src --ext .ts,.tsx", "prettier --write"],
  "*.{ts,json,css}": ["prettier --write"]
}

feat: add second header in main
  public/output.css
  src/pages/Main.tsx
Due: prettier --write

fix: correct styles schema params block
  public/output.css
  src/components/main/Schema/DescriptionBlock.tsx
  src/components/main/Schema/ShowSchema.tsx
  src/index.css
Due: prettier --write

fix: resolve conflict
  src/components/main/Schema/SchemaBlock.tsx
Due: none

fix: styles main page
  public/output.css
  src/assets/svg/close.svg
  src/assets/svg/close1.svg
  src/components/main/QueryBlock.tsx
  src/components/main/ResponseBlock.tsx
  src/components/main/Schema/DescriptionBlock.tsx
  src/components/main/Schema/SchemaBlock.tsx
  src/components/main/Schema/ShowSchema.tsx
  src/pages/Main.tsx
Due: prettier --write

fix: header border active
  public/output.css
  src/components/Burger.tsx
  src/components/Header.tsx
  src/index.css
Due: prettier --write

fix: lint
  src/components/Burger.tsx
  src/components/Header.tsx
Due: none

fix: correct block size
  public/output.css
  src/components/main/EditorBlock.tsx
  src/components/main/QueryBlock.tsx
  src/components/main/Schema/SchemaBlock.tsx
  src/pages/Main.tsx
Due: prettier --write

feat: add active line highlight in schema
  public/output.css
  src/components/main/Schema/SchemaParams.tsx
  src/components/main/Schema/ShowSchema.tsx
  src/index.css
  src/providers/AppProviders.tsx
Due: prettier --write

fix: index.css error pull
  public/output.css
  src/index.css
Due: prettier --write

feat: rework loadings
  public/Artsem.jpeg
  public/Bazz.jpg
  public/Bazz.png
  public/Iryna.jpg
  public/Masha.jpg
  public/bg_404.png
  public/element_1.png
  public/element_2.png
  public/output.css
  public/ufo.png
  src/components/main/ControlButtons.tsx
  src/components/main/EditorBlock.tsx
  src/components/main/ResponseBlock.tsx
  src/components/main/Schema/SchemaBlock.tsx
  src/pages/Main.tsx
  src/providers/AppProviders.tsx
  src/utils/api.ts
  src/utils/getQueryi.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: lazy schema
  src/pages/Main.tsx
Due: none

feat: undo prev changes
  src/pages/Main.tsx
Due: none

fix: delete margin on query button
  src/components/main/ControlButtons.tsx
Due: none

refactor: change info Masha and add lang in second header and doc in main
  public/Masha.jpg
  public/output.css
  src/components/main/Schema/SchemaBlock.tsx
  src/lang/messages.ts
  src/pages/Login.tsx
  src/pages/Main.tsx
  src/pages/Register.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: remove spinner from editor block
  src/components/main/EditorBlock.tsx
Due: none

refactor: correct semantic tag
  public/output.css
  src/components/Burger.tsx
  src/components/Error.tsx
  src/components/Layout.tsx
  src/components/main/QueryBlock.tsx
  src/components/main/Schema/DescriptionBlock.tsx
  src/components/main/Schema/ShowSchema.tsx
  src/pages/Main.tsx
  src/pages/NotFound.tsx
Due: prettier --write

fix: correct height of blocks in main page
  src/components/main/ResponseBlock.tsx
  src/components/main/Schema/SchemaBlock.tsx
Due: none

feat: add info course and progect
  public/output.css
  src/assets/svg/graph.svg
  src/assets/svg/logo-green.svg
  src/assets/svg/rsschool.svg
  src/components/Header.tsx
  src/index.css
  src/lang/messages.ts
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
  tailwind.config.js
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: login hello!
  src/pages/Login.tsx
Due: none

fix: adaptive for translate
  public/output.css
  src/lang/messages.ts
  src/pages/Home.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: mt in login and register
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: none

fix: adaptive home-page for info
  src/lang/messages.ts
  src/pages/Home.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: h-[1470px]
  src/pages/Home.tsx
Due: none

fix: all
  public/output.css
Due: prettier --write

fix:adaptive
  public/output.css
  src/components/Background.tsx
  src/components/Footer.tsx
  src/index.css
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: prettier --write

fix: output
  public/output.css
Due: prettier --write

feat: update sign up method
  public/output.css
  src/firebase.ts
  src/pages/Main.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

refactor: components in home-page
  public/output.css
  src/components/Home/InfoPokeApi.tsx
  src/components/Home/InfoReact.tsx
  src/components/Home/InfoTeem.tsx
  src/index.css
  src/pages/Home.tsx
Due: prettier --write

fix: fix error on empty variables
  src/components/main/QueryBlock.tsx
Due: none

feat: add headers
  public/output.css
  src/assets/svg/btn_clear.svg
  src/assets/svg/btn_headers_params.svg
  src/assets/svg/btn_save.svg
  src/components/main/ControlButtons.tsx
  src/components/main/HeadersBlock.tsx
  src/components/main/QueryBlock.tsx
  src/index.css
  src/providers/AppProviders.tsx
Due: prettier --write

fix: header-logo hover color
  public/output.css
  src/assets/svg/logo.svg
  src/components/Header.tsx
  src/index.css
Due: prettier --write

fix: fix message name in register
  public/output.css
  src/index.css
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: footer after sm and px
  public/output.css
  src/components/Footer.tsx
Due: prettier --write

feat: add InfoPokeApi and InfoReact blocks in Home page
  public/output.css
  src/assets/svg/firebase.svg
  src/assets/svg/graphql.svg
  src/assets/svg/logo-green.svg
  src/assets/svg/npm.svg
  src/assets/svg/poke-api-logo.svg
  src/assets/svg/react.svg
  src/assets/svg/tailwind.svg
  src/assets/svg/typescript.svg
  src/components/Background.tsx
  src/components/Home/InfoPokeApi.tsx
  src/components/Home/InfoReact.tsx
  src/components/Home/InfoTeem.tsx
  src/lang/messages.ts
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
  tailwind.config.js
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: intro_react10 in lang
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: redirect action?
  public/output.css
  src/components/Home/InfoPokeApi.tsx
Due: prettier --write

fix: lint
  src/components/Home/InfoPokeApi.tsx
  src/components/main/QueryBlock.tsx
Due: none

fix: clear code
  src/components/main/ControlButtons.tsx
  src/components/main/EditorBlock.tsx
  src/components/main/HeadersBlock.tsx
  src/components/main/QueryBlock.tsx
Due: none

fix: remove old intro messages
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write
