Repository mada-web/graphiql-app: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: background
  public/output.css
  src/components/Background.tsx
  src/pages/Home.tsx
Due: prettier --write

feat: add localization to the app
  .prettierrc.cjs
  package-lock.json
  package.json
  public/output.css
  src/App.tsx
  src/components/Form/ButtonForm.tsx
  src/components/Form/FormEmail.tsx
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/index.css
  src/lang/locales.ts
  src/lang/messages.ts
  src/pages/Login.tsx
  src/pages/NotFound.tsx
  src/pages/Register.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: small refactoring after merging
  package-lock.json
  public/output.css
  src/components/Background.tsx
  src/components/Burger.tsx
  src/components/Footer.tsx
  src/components/Form/FormPassword.tsx
  src/components/Header.tsx
  src/components/Spinner.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: prettier --write

feat: add type for event
  src/App.tsx
Due: none

feat: add type for event in Header
  src/components/Header.tsx
Due: none

feat: add context
  src/main.tsx
  src/providers/AppProviders.tsx
Due: none

feat: add custom hook for context
  src/hooks/useAppContext.tsx
Due: none

feat: handle query body
  package-lock.json
  src/components/main/ControlBtns.tsx
  src/components/main/EditorBlock.tsx
  src/pages/Main.tsx
Due: prettier --write

fix: correct style order
  public/output.css
  src/components/Background.tsx
  src/components/Burger.tsx
  src/components/Footer.tsx
  src/components/Form/ButtonForm.tsx
  src/components/Form/FormEmail.tsx
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
  src/components/Spinner.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/NotFound.tsx
  src/pages/Register.tsx
Due: prettier --write

feat: add plugin for tailwind
  .prettierrc.cjs
  src/components/Form/ButtonForm.tsx
  src/components/Form/FormEmail.tsx
  src/components/Form/FormName.tsx
  src/pages/Home.tsx
  src/pages/NotFound.tsx
  src/pages/Register.tsx
Due: none

fix: fix vite config styles
  vite.config.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: correct lint error
  src/components/Header.tsx
  src/components/main/EditorBlock.tsx
Due: none

feat: merge with dev
  package-lock.json
  public/output.css
Due: prettier --write

feat: add translate burger
  src/components/Burger.tsx
Due: none

feat: add firebase authentication to the app
  .eslintrc.cjs
  package.json
  src/components/Form/FormName.tsx
  src/components/Header.tsx
  src/components/Spinner.tsx
  src/lang/messages.ts
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: add home-page translate
  public/Masha.png
  public/output.css
  src/App.tsx
  src/components/Burger.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/lang/messages.ts
  src/pages/Home.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

refactor: stile h2 Name home-page
  src/pages/Home.tsx
Due: none

feat: add lang burger
  src/components/Burger.tsx
  src/components/Header.tsx
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: adaptive for translate
  public/output.css
  src/components/Burger.tsx
  src/components/Footer.tsx
  src/components/Form/FormEmail.tsx
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
  src/components/Header.tsx
  src/lang/messages.ts
  src/pages/Home.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: add editor for query params section
  public/output.css
  src/components/main/QueryBlock.tsx
  tailwind.config.js
Due: prettier --write

feat: add query param to context
  src/components/main/ControlBtns.tsx
  src/providers/AppProviders.tsx
Due: none

fix: correct style
  src/components/main/EditorBlock.tsx
  src/pages/Main.tsx
Due: none

fix: change padding
  src/pages/Main.tsx
Due: none

fix: adaptive home-page
  public/output.css
  src/components/Header.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: prettier --write

fix: sing - sign
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: add locale and logout to burger menu
  src/components/Burger.tsx
  src/components/Header.tsx
Due: none

fix: lint
  src/components/Burger.tsx
Due: none

feat: close modal on click
  src/components/Burger.tsx
Due: none

fix: merge output
  public/Masha.jpg
  public/Masha.png
  public/output.css
  src/pages/Home.tsx
Due: prettier --write

fix: resolve conflict change Masha-file
  public/output.css
Due: prettier --write

fix: LogOut is Link
  src/components/Burger.tsx
  src/components/Header.tsx
Due: none

feat: do main page private, replace current locale to app context
  src/App.tsx
  src/components/Burger.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/main/ControlButtons.tsx
  src/pages/Main.tsx
  src/providers/AppProviders.tsx
Due: none

fix: header h
  package-lock.json
  package.json
  public/output.css
  src/components/Burger.tsx
  src/components/Form/FormEmail.tsx
  src/components/Header.tsx
  src/pages/Login.tsx
Due: prettier --write

feat: artsem info
  src/lang/messages.ts
  src/pages/Home.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: add animation library
  package-lock.json
  package.json
Due: prettier --write

feat: add new control button
  src/assets/svg/btn_query_params.svg
  src/assets/svg/btn_schema.svg
  src/components/main/ControlBtns.tsx
Due: none

feat: add new data to context
  src/providers/AppProviders.tsx
Due: none

feat: add schema block
  public/output.css
  src/components/main/SchemaBlock.tsx
Due: prettier --write

refactor: main component
  src/pages/Main.tsx
Due: none

feat: add smooth appearance
  src/components/main/QueryBlock.tsx
  src/components/main/ResponseBlock.tsx
  src/index.css
  src/types/animate.d.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

Path conditions:
  tsc-files -p tsconfig.build.json --noEmit: any of: *.{ts, tsx}
  npm run eslint ./src --ext .ts,.tsx: any of: *.{ts, tsx}
  prettier --write: (any of: *.{ts, tsx}) or (any of: *.{ts,json,css})
