Repository mada-web/graphiql-app: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx}": ["tsc-files -p tsconfig.build.json --noEmit", "npm run eslint ./src --ext .ts,.tsx", "prettier --write"],
  "*.{ts,json,css}": ["prettier --write"]
}

fix: delete parameter
  src/components/main/ControlButtons.tsx
Due: none

fix: fix import
  src/components/Home/InfoReact.tsx
Due: none

fix: messeges
  public/output.css
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: adaptive home page
  public/output.css
  src/assets/svg/poke-api-logo.svg
  src/components/Home/InfoPokeApi.tsx
  src/components/Home/InfoReact.tsx
  src/lang/messages.ts
  src/pages/Home.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: delete import inqueryblock
  src/components/main/QueryBlock.tsx
Due: none

fix: margin in InfoReact
  public/output.css
  src/components/Home/InfoReact.tsx
Due: prettier --write

fix: h-min for mobile horizontal orientation
  public/output.css
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: prettier --write

fix: lint
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: none

fix: h-screen login and register
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: none

fix: svg mx
  public/output.css
  src/components/Home/InfoReact.tsx
Due: prettier --write

fix: button in home is Link
  src/components/Burger.tsx
  src/components/Home/InfoPokeApi.tsx
Due: none

fix: react info col
  public/output.css
  src/components/Home/InfoReact.tsx
Due: prettier --write

fix: font in react info
  public/output.css
  src/components/Home/InfoReact.tsx
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: add http headers to request
  public/output.css
  src/components/main/ControlButtons.tsx
  src/components/main/QueryBlock.tsx
  src/utils/getQueryi.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: add types for func
  src/utils/getQueryi.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: fix type for arg
  src/utils/getQueryi.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: correct adaptive
  public/output.css
  src/components/main/QueryBlock.tsx
Due: prettier --write

fix: correct width of query params block
  public/output.css
  src/components/main/QueryBlock.tsx
Due: prettier --write

feat: add button hover
  public/output.css
  src/components/main/QueryBlock.tsx
Due: prettier --write

fix: resolve conflicts
  public/output.css
Due: prettier --write

feat: add InfoHelp
  package-lock.json
  public/example.jpg
  public/output.css
  src/assets/svg/arrow.svg
  src/components/Home/CodeHelp.tsx
  src/components/Home/InfoHelp.tsx
  src/components/Home/InfoPokeApi.tsx
  src/lang/messages.ts
  src/pages/Home.tsx
  tailwind.config.js
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: package-lock
  package-lock.json
Due: prettier --write

fix: pre adaptive
  src/components/Home/CodeHelp.tsx
Due: none

feat: set value to query editor
  src/components/main/EditorBlock.tsx
  src/pages/Main.tsx
Due: none

feat: password type
  public/output.css
  src/components/Form/FormPassword.tsx
Due: prettier --write

feat: remove max length param for password
  src/components/Form/FormPassword.tsx
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: hidden sm img in infohelp
  public/output.css
  src/components/Home/InfoHelp.tsx
Due: prettier --write

fix: const in object in CodeHelp
  public/output.css
  src/components/Home/CodeHelp.tsx
Due: prettier --write

fix: correct cursor position in input
  src/components/Form/FormEmail.tsx
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
Due: none

fix: change max number of characters in password
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: error queries in CodeHelp
  public/output.css
  src/components/Form/FormEmail.tsx
  src/components/Home/CodeHelp.tsx
Due: prettier --write

fix: correct lint errors
  src/components/Form/FormEmail.tsx
  src/pages/Main.tsx
Due: none

feat: save http headers and query params on request sending
  public/output.css
  src/components/main/ControlButtons.tsx
  src/components/main/EditorBlock.tsx
  src/components/main/QueryBlock.tsx
  src/providers/AppProviders.tsx
Due: prettier --write

fix: fix header padding
  public/output.css
  src/components/main/QueryBlock.tsx
Due: prettier --write

feat: scroll to top
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: none

feat: scroll to response block on small screen
  public/output.css
  src/components/main/ControlButtons.tsx
  src/components/main/ResponseBlock.tsx
  src/pages/Main.tsx
Due: prettier --write

fix: correct some remarks
  src/components/Form/FormEmail.tsx
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
  src/components/main/QueryBlock.tsx
Due: none

fix: correct header
  src/components/main/Schema/SchemaBlock.tsx
Due: none

fix: transition
  public/output.css
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: prettier --write

fix: correct styles
  public/output.css
  src/components/Burger.tsx
  src/components/Form/ButtonForm.tsx
  src/index.css
Due: prettier --write
