Repository mada-web/graphiql-app: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx}": ["tsc-files -p tsconfig.build.json --noEmit", "npm run eslint ./src --ext .ts,.tsx", "prettier --write"],
  "*.{ts,json,css}": ["prettier --write"]
}

refactor: change div on section tag
  src/components/main/EditorBlock.tsx
Due: none

feat: add style to response block
  src/components/main/ResponseBlock.tsx
Due: none

fix: correct styles
  public/output.css
  src/components/main/ControlBtns.tsx
  src/components/main/QueryBlock.tsx
  src/components/main/SchemaBlock.tsx
  src/index.css
  src/pages/Main.tsx
  src/providers/AppProviders.tsx
Due: prettier --write

feat: wrap application into error boundary component
  public/output.css
  src/components/Error.tsx
  src/components/ErrorBoundary.tsx
  src/main.tsx
Due: prettier --write

fix: correct height and width in query block
  public/output.css
  src/components/main/QueryBlock.tsx
  src/pages/Main.tsx
Due: prettier --write

feat: add type for button event
  src/components/Error.tsx
  src/components/ErrorBoundary.tsx
  src/main.tsx
Due: none

refactor: clear code paddings
  src/components/main/EditorBlock.tsx
  src/components/main/QueryBlock.tsx
  src/components/main/SchemaBlock.tsx
Due: none

feat: add hover buttons
  public/output.css
  src/assets/svg/btn_play.svg
  src/components/main/ControlBtns.tsx
Due: prettier --write

fix: change common styles
  public/output.css
Due: prettier --write

feat: merge with dev
  public/output.css
Due: prettier --write

feat: pre-pull
  public/Artsem.jpeg
  public/output.css
Due: prettier --write

fix: toastyfy message
  src/pages/Login.tsx
Due: none

feat: throw an error on auth failed
  src/components/Form/FormEmail.tsx
  src/firebase.ts
  src/main.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

feat: add types for errors
  src/firebase.ts
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/utils/toast.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: fix types for errors
  src/firebase.ts
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: check error type
  src/firebase.ts
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/utils/toast.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: add unknown type for error
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/utils/toast.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: add rule in tsconfig
  tsconfig.json
Due: prettier --write

fix: set error as string
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/utils/toast.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: minor fix
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: none

fix: check error instance
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: none

feat: add API
  public/output.css
  src/components/Api/ApiQuery.ts
  src/components/main/ControlButtons.tsx
  src/components/main/QueryBlock.tsx
  src/components/main/ResponseBlock.tsx
  src/providers/AppProviders.tsx
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: correct scrollbar styles
  public/output.css
  src/components/main/ControlButtons.tsx
  src/components/main/EditorBlock.tsx
  src/components/main/ResponseBlock.tsx
  src/components/main/SchemaBlock.tsx
  src/index.css
Due: prettier --write

fix: correct rss logo
  src/assets/svg/rsschool.svg
  src/components/Footer.tsx
Due: none

fix: resolve conflicts
  package-lock.json
  public/output.css
  src/index.css
Due: prettier --write

fix: fix
  src/components/Burger.tsx
  src/pages/Login.tsx
Due: none

fix: fix
  public/output.css
  public/ufo.jpeg
  public/ufo.png
Due: prettier --write

fix: delete jpeg in public
  public/ufo.jpeg
  src/components/Burger.tsx
Due: none

fix: lint errors
  src/pages/Login.tsx
Due: none

fix: fix rslogo
  src/assets/svg/rsschool.svg
  src/components/Footer.tsx
Due: none

feat: add lazy import pages and suspense outlet
  src/App.tsx
  src/assets/svg/rsschool.svg
  src/components/Layout.tsx
  src/pages/Register.tsx
Due: none

fix: ufo
  package-lock.json
  public/output.css
Due: prettier --write

fix: fix order import and delete comment
  src/App.tsx
Due: none

fix: h-header and spinner location
  public/output.css
  src/App.tsx
  src/components/Header.tsx
  src/components/Spinner.tsx
  src/pages/Main.tsx
Due: prettier --write

fix: save main-page reload
  src/pages/Main.tsx
Due: none

fix: add header main?
  src/pages/Main.tsx
Due: none

fix: lint in main
  src/pages/Main.tsx
Due: none

fix: output main
  public/output.css
Due: prettier --write

fix: margin paddin size editors with new second header
  public/output.css
  src/components/main/EditorBlock.tsx
  src/components/main/ResponseBlock.tsx
  src/components/main/SchemaBlock.tsx
  src/pages/Main.tsx
Due: prettier --write

fix: burger main changing
  public/output.css
  src/components/Burger.tsx
Due: prettier --write
