Repository mada-web/graphiql-app: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

.lintstagedrc:

{
  "*.{ts, tsx}": ["tsc-files -p tsconfig.build.json --noEmit", "npm run eslint ./src --ext .ts,.tsx", "prettier --write"],
  "*.{ts,json,css}": ["prettier --write"]
}

feat: create useInput hook
  src/components/Form/FormEmail.tsx
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
  src/hooks/useInput.tsx
  src/index.css
Due: prettier --write

fix: add types
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
  src/hooks/useInput.tsx
Due: none

feat: remove log from error boundary
  src/components/ErrorBoundary.tsx
  src/main.tsx
  src/pages/Main.tsx
Due: none

fix: hover and activ and transition in error
  src/components/Error.tsx
  src/components/Form/FormName.tsx
  src/components/Form/FormPassword.tsx
Due: none

fix: add translate
  src/components/Error.tsx
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write

fix: change error3 ru message
  src/lang/messages.ts
Due: tsc-files -p tsconfig.build.json --noEmit, npm run eslint ./src --ext .ts,.tsx, prettier --write
